@media screen and (min-width: 993px) {
    .logo_booki > img { 
        padding-bottom: 63px;
    }
    .header_menu a {
        text-decoration: none;
        color: black;
        margin-top: -50px;
        padding-top: 50px;
        margin-left: 70px;
    }
    .header_menu a:hover {
        color: #0065fc;
        border-top: 2px solid #0065fc;
        padding-top: 48px;
    }
    .desktop-hide {
        display: none;
    }
}